label {
    display: flex;
    justify-content: center;
  }
  
  input {
    margin-bottom: 30px;
  }
  
  .enviar {
    display: flex;
    text-align: center;
    margin: 0 auto;
  }
  
  body {
    text-align: center;
  }
  .contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
  }