<a href="/" class="ref">Ingresar un producto</a>
<h2>Productos</h2>
{{#if productos.length}}
    <table class="estilo">
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Imagen</th>
        </tr>
        {{#each productos}}
            <tr>
                <td>{{title}}</td>
                <td>{{price}}</td>
                <td><img
                        class="img"
                        src="{{thumbnail}}"
                        alt="imagen del producto"
                    /></td>
            </tr>
        {{/each}}
    </table>
{{else}}
    <h3>No hay productos agregados</h3>
{{/if}}