<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../css/formulario.css">
        <title>Formulario en EJS</title>
    </head>
    <body>
        <a href="/productos">Lista de Productos</a>
        <h1>Agregar producto:</h1>
        <form action="/" method="post">
            <label for="title">Nombre del producto:</label>
            <input type="text" id="title" name="title" required />
            <label for="price">Precio del producto:</label>
            <input type="text" id="price" name="price" required />
            <label for="thumbnail">Imagen del producto:</label>
            <input type="text" id="thumbnail" name="thumbnail" required />
            <button type="submit">Cargar Producto</button>
        </form>
    </body>
</html>