*{
    margin: 0;
    box-sizing: border-box;
  }
  h2 {
    text-align: center;
  }
  .estilo {
    display: flex;
    justify-content: center
  }
  
  tr {
    padding: 20;
  }
  
  img {
    max-width: 100px;
    max-height: 100px;
  }